/*====================================================================================
                      Normalize 
====================================================================================*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

b, strong, optgroup {
  font-weight: 700; }

pre, textarea {
  overflow: auto; }

button::-moz-focus-inner, input::-moz-focus-inner, legend {
  border: 0;
  padding: 0; }

input:focus, input:hover, textarea:focus, textarea:hover {
  outline: none; }

textarea {
  resize: none; }

/* clearfix */
.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

/* border box */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* responsify images */
img {
  max-width: 100%; }

/*====================================================================================
		                          Variables 
====================================================================================*/
/*====================================================================================
		                          Base Styles 
====================================================================================*/
html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

#map-canvas {
  height: 100%; }

.innerWrapper {
  max-width: 1260px;
  margin: 0 auto; }

ul {
  list-style-type: none;
  padding: 0; }

/*====================================================================================
		                          Header 
====================================================================================*/
header {
  padding: 25px;
  padding-bottom: 0;
  background: white;
  z-index: 999; }

h1 {
  border: 0;
  font-size: 0;
  color: transparent;
  width: 80px;
  height: 48px;
  background: url("../i/bike.png") no-repeat;
  -webkit-background-size: 80px 48px;
  background-size: 80px 48px;
  display: inline-block;
  position: relative;
  bottom: 29px; }

form {
  display: inline-block;
  padding: 15px 75px; }
  form label {
    margin-right: 5px; }
  form label[for="end"] {
    margin-left: 15px; }

nav {
  display: inline-block;
  float: right; }
  nav .nav {
    font-size: 35px;
    margin: 0; }

.item2 {
  position: relative; }

ul li.menuItem {
  display: inline-block;
  cursor: pointer; }

ul li.menuItem:nth-child(2n) {
  margin: 0 75px; }

ul.legend {
  z-index: 999;
  display: none;
  position: absolute;
  font-size: 20px;
  width: 190px;
  border: 1px solid lightgray;
  padding: 7px;
  left: -70px;
  background: white; }
  ul.legend li {
    padding: 5px 0; }

i {
  margin-right: 5px; }

.trail {
  color: forestgreen; }

.lane {
  color: limegreen; }

.friendly {
  color: lawngreen; }

.trouble {
  color: orange; }

/*====================================================================================
		                          Modals 
====================================================================================*/
.overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6); }
  .overlay .modal {
    height: 400px;
    width: 600px;
    border: 1px solid black;
    background: white;
    margin: 70px auto; }
    .overlay .modal button {
      display: block;
      margin: 0 auto; }
    .overlay .modal h2 {
      text-align: center; }
    .overlay .modal .close {
      margin: 10px;
      height: 30px;
      width: 30px;
      float: right; }

.options {
  text-align: center;
  top: 100px;
  position: relative; }

.welcome {
  text-align: center; }

.intro {
  clear: right;
  margin-left: 1px;
  margin-right: auto; }

.left-arrow {
  height: 40px;
  position: relative;
  bottom: 105px; }

.right-arrow {
  height: 40px;
  position: relative;
  bottom: 105px; }
